.sfooter-content {
    background: white;
}


nav.navbar.navbar-default{
    background: white;
}

.btn-default {
    float: right;
    background: #FF8900;
}

.navbar-text {
    display: inline;
    padding-left: 11.5em;
    color: #FF8900;
}

.jumbotron{
    padding: 0;
    margin: 0;
}
.sjcImage {
    background: url("../images/sjcWinter.jpg") no-repeat center;
    background-size: cover;
    padding-bottom: 30em;
    color: white;
}

.personalImage {
    background: url("../images/jemez.jpg") no-repeat center;
    background-size: cover;
    padding-bottom: 30em;
    color: white;
}

.workImage {
    background: url("../images/comp.jpeg") no-repeat center;
    background-size: cover;
    padding-bottom: 30em;
    color: white;
}


img.navbar.navbar-default {
    height: 8em;
    padding-bottom: .5em;

}

.bbtn-group {
    float: right;
    padding-left: 70em;
}

.container {
    background-color: #FF8900;
}



